/* Reset */

* {
  margin: 0;
  font-family: "Nunito", "poppins", sans-serif;
}

#banner {
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  }

img {
  width: 350px;
  height: 350px;
  margin: auto;
}

header h1,
h2,
p {
  color: white;
}

header h1 {
  font-size: 45px;
  font-weight: bold;
}

header h2 {
  font-size: 30px;
  font-weight: bold;
}
header p {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 0;
}

.iconos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0,0,0,.2);
}

.iconos img {
  width: 100px;
  height: 100px;
}

.iconos figure {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.iconos figcaption {
  color: white;
  font-weight: bold;
  text-align: center;
}



/* Estilos para el responsive que se activan en pantallas inferiores a 768px*/

@media(max-width:768px) {

  header {
    height: 60vh;
    box-sizing: border-box;
  }
/*
  img {
    width: 250px;
    height: 250px;
  }
  */

  header h1 {
    font-size: 30px;
  }

  header h2 {
    font-size: 20px;
  }

  header p {
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.iconos {
  flex-direction: column;
  align-items: center; 
  margin-top: 30px;
}

}