/* ! Reset */

* {
  margin: 0;
  font-family: 'Nunito','poppins', sans-serif;
}

header {
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  box-sizing: border-box;
  text-align: center ;
}

img {
  width: 350px;
  height: 350px;
  margin: auto;
}

header h1, h2, p {
  color: white;
}

header h1 {
  font-size: 45px;
  font-weight: bold;
}

header h2 {
  font-size: 30px;
  font-weight: bold;
}
 header p {
  font-size: 20px;
  margin-top: 15px;
 }